* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
}

section {
  min-height: 100vh;
  width: 100%;
}

.newFueling {
  position: fixed;
  bottom: 20px;
  right: 20px;

  button {
    width: 80px;
    aspect-ratio: 1 / 1;
    font-size: 2rem;
    border-radius: 50%;
    border: none;
    color: white;
    background: green;
    cursor: pointer;
  }

  button:active {
    scale: 1.2;
  }

  button:hover {
    background: rgb(0, 82, 0);
  }
}

.refuelCard{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.cardWrapper{
  max-width: 600px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}